body {
	margin: 0;
	padding: 0;
}

/* Header styles */
.header-wrapper {
	background-color: #e74c3c;
}
.header-content {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden; /* clears the floated elements below */
 }
.logo {
	color: white;
	font-size: 32px;
	font-weight: bold;
	float: left;
	display:block;
	text-decoration: none;
	margin-top: 15px; 
	margin-bottom:15px;
}
.main-menu {
	list-style-type: none;
	padding:0;
	margin: 0;
	float: right;
	margin-top: 23px; 
	margin-bottom:23px;
}

.main-menu li {
	display: inline-block;
}

.main-menu li a {
	color: white;
	text-decoration: none;
}

/* Section 2  styles */
.section2-wrapper {
	background-image: url('../media/slide.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	height: 405px;
}
.section2-content {
	position: relative;
	height:100%;
	width:960px;
	margin: 0 auto;
}
.section2-content > h3 {
	margin:0;
	position: absolute;
	bottom:0;
	left:0;
	background-color: #000;
	color: white;
	font-size: 36px;
	opacity:0.8;
	padding: 10px;
	margin:0;
	width:200px;
}
.section2-content form {
	margin:0;
	position: absolute;
	bottom:0;
	right:0;
	padding:15px;
	background-color: #c0392b;
	opacity: 0.9;
	color:white;
}
.section2-content form h3 {
	margin:0 0 10px 0;
}
input[type="text"],input[type="password"], input[type="submit"] {
	padding:8px;
	margin:0 15px 15px 15px;
	border: 0 none;
}
input[type="submit"] {
	margin-right:0;
	background-color:#e67e22;
	color:white;
}

.section3-content {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

.services {
	padding-left: 0;
	list-style-type: none;
	overflow: hidden; /* <-- contain floated html elements */
	width:960px;
}
.services li {
	float: left;
	width: 220px;
	padding: 10px;
	margin: 10px;
	box-sizing: border-box; 
	background-color: #eee;
}
.services li img {
	width: 115px;
	margin: 0 auto;
	display:block;
}
.services li h4 {
	font-size: 20px;
	color: #c0392b;
	margin: 4px 0;
	text-align: center;
}
.services li a {
	display: block;
	color: white;
	text-align: center;
	background-color: #e74c3c;
	padding: 5px 0;
	text-decoration: none;
}
.section4-wrapper {
	background-color: #ecf0f1;
	padding: 15px;
}
.section4-content {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
}
.section4-content h3 {
	color: #c0392b;
	font-size: 32px;
	margin: 0 0 0 15px;
	float:left;
}
.social-list {
	float:right;
}
.social-list a {
	float: left;
	width: 48px;
	height: 48px;
	background-size: 48px 48px;
}
.social-list a:nth-child(1) {
	background-image: url('../media/facebook.png');
}
.social-list a:nth-child(2) {
	background-image: url('../media/google+.png');
}
.social-list a:nth-child(3) {
	background-image: url('../media/linkedin.png');
}
.social-list a:nth-child(4) {
	background-image: url('../media/youtube.png');
}
.social-list a:nth-child(5) {
	background-image: url('../media/twitter.png');
}
.social-list a:nth-child(6) {
	background-image: url('../media/rss.png');
}
.section5-wrapper {
	background-color: #e74c3c;
}
.section5-content {
	width:960px;
	margin: 0 auto;
	overflow: hidden;
}
.careers, .newsletter {
	width:300px;
	box-sizing: border-box;
	padding: 15px;
	color: white;
}
.careers {
	float: left;
}
.newsletter {
	float: right;
}
.newsletter h3 {
	margin-left: 15px;
}
.newsletter [type="text"], .newsletter [type="submit"] {
	display: block;
	width: 80px;
}
.newsletter [type="text"] {
	width: 280px;
}
.section6-wrapper {
	background-color: #c0392b;
}
.section6-content {
	width:960px;
	margin: 0 auto;
	color:white;
}
.section6-content p {
	margin: 0;
	padding: 10px 0;
}

.page {
	width: 960px;
	margin: 10px auto 0 auto;
	overflow: hidden;
}
.main {
	width: 700px;
	float: left;
}
.sidebar {
	width:250px;
	margin-left:10px;
	float:right;
}
#map {
	height:600px;
}
/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
}

/* The "show" class is added to the accordion panel when the user clicks on one of the buttons. This will show the panel content */
div.panel.show {
    display: block;
}














